.baselayout-sider {
  background: red;
  margin: 0;
  .ant-menu {
    height: 100%;
  }

  .ant-menu-item {
    height: fit-content;
    padding: 15px 0;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-menu-title-content {
      margin: 0 !important;
    }

    .custom-logo {
      width: 40px;
      height: 40px;
    }
  }
}

.ant-tabs {
  padding: 0 5px;

  @media (min-width: 768px) {
    padding: 0 10px;
  }

  @media (min-width: 576px) {
    padding: 0 30px;
  }
}

.functional-btns {
  position: absolute;
  bottom: 0;
  width: 100%;

  &-lang {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
  }
  .logout-btn {
    border: none;
    width: 100%;
    background: none;
    margin-bottom: 5px;
    &:hover {
      cursor: pointer;
    }
  
    img {
      width: 40px;
    }
  }
}


.sider-container {
  display: flex;
  height: 100vh;
  width: 20px;
  @media (min-width: 768px) {
    width: 80px;
  }

  .baselayout-sider {
    transform: translateX(-100%);
     @media (min-width: 768px) {
      transform: translateX(0);
     }
  }

  &-button {
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 1;
    background: none;
    border: none;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
    }

    @media (min-width: 768px) {
      display: none;
    }

    &-icon {
      transform: scale(2)
    }
  }


  &-active {
    z-index: 10;
    .baselayout-sider {
      transform: translateX(0);
    }

    .sider-container-button {
      width: calc(90% - 10px);
      top: 0;
      right: 0;
      left: unset;
      height: 100vh;
      background-color: grey;
      opacity: 0.1;

      &-icon {
        display: none;
      }
    }
  }
}
