.baselayout-sider {
  background: red;
  margin: 0;
  .ant-menu {
    height: 100%;
  }

  .ant-menu-item {
    height: fit-content;
    padding: 15px 0;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-menu-title-content {
      margin: 0 !important;
    }

    .custom-logo {
      width: 40px;
      height: 40px;
    }
  }
}

.ant-tabs {
  padding: 0 30px;
}

.logout-btn {
  position: absolute;
  bottom: 0;
  border: none;
  background: none;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  &:hover {
    cursor: pointer;
  }

  img {
    width: 40px;
  }
}