.diet {
    padding-bottom: 5%;

    max-width: 1440px;
    margin: auto;

    &-content {
        padding: 0 30px;
        
        &-edit, &-or {
            margin-bottom: 10px;
        }
        
        &-edit {
            color: #00967E;
            font-size: 18px;
        }
        
        &-or {
            opacity: 0.8;
            font-style: italic;
        }
    }
    
}

.diet-form {
    color: #404040;
    padding-top: 20px;
    width: fit-content;

    margin: auto;

    @media (min-width: 768px) {
        margin: unset;
    }

    .input-group {
        padding-bottom: 20px;
        align-items: center;
        
        @media (min-width: 768px) {
            display: flex;
        }

        &:first-child {
            .input-group-title::after {
                content: '*';
                color: red;
            }
        }

        div {
            margin-bottom: 20px;
            font-weight: 600;
            
            @media (min-width: 768px) {
                min-width: 130px;
                margin-bottom: 0;
            }
        }

        input {
            padding: 15px 30px;
            border: none;
            border-radius: 10px;
            box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
            
            width: 100%;
            margin-bottom: 10px;

            &:focus-visible {
                outline-color: #00967E;
            }

            @media (min-width: 555px) {
                width: unset;
                margin-bottom: 10px;
            }
        }
        
        input:not(:last-child) {
            margin-right: 20px;
        }
    }

    .submit-btn {
        text-align: center;
        margin-top: 10px;
        
        @media (min-width: 768px) {
            text-align: right;
        }

        button {
            padding: 10px 40px;
            background: #960018;
            color: white;
            border: none;
            border-radius: 20px;
            font-weight: 500;
            border: 1px solid #960018;

            transition: all 0.3s ease-in-out;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

            &:hover {
                cursor: pointer;
                background-color: white;
                color: #960018;
            }
        }
    }
}

.daily-diet-header {
    display: flex;
    justify-content: space-between; 

    &-calories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
        text-align: right;
        
        p, b {
            font-size: 12px;
        }
        
        @media (min-width: 768px) {
            justify-content: end;
        }

        .warning {
            color: red;
        }

        .good {
            color: #00967E;
        }
        
        &-target {
            margin: 0;
            margin-bottom: 5px;
            font-size: 12px;
            // white-space: nowrap;

            @media (min-width: 576px) {
                margin-bottom: 10px;
                font-size: 14px;
            }
        }

        &-sum {
            margin: 0;
            font-size: 12px;
            // white-space: nowrap;

            @media (min-width: 576px) {
                font-size: 14px;
            }
        }
    }
}
