.summary {
    max-width: 1440px;
    margin: auto;
    
    .ant-progress-text {
        display: none;
    }
    
    .progress-bar {
        width: 80%;
        margin: auto;
        
        @media (min-width: 768px) {
            width: 50%;
        }

        &-sumup {
            text-align: right;
            color: #960018;

            font-size: 10px;
            font-weight: 700;
        }
    }
}