.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-img {
        width: 30%;
        min-width: 300px;
    }

    &-content {
        text-align: center;

        &-title {
            font-weight: bold;
            font-size: 25px;
        }
    }
}